
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication1.Areas.FoodArea.Models.Food>
@{
    ViewBag.Title = "產品管理";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<style>
    .thumb {
        width: 100px;
    }
</style>
@section styles{
}


@*@section ads{
        <div class="thumbnail" id="target">
            <img src="" />
            <div class="caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
    }*@


@section scripts{
    <script>
        $(document).ready(function () {
            var target = $('#target');
            $('#foodTable>tbody>tr').mouseenter(function () {
                target.find("img").attr("src", $(this).find("img").attr("src"));
                target.find("h3").text($(this).find("td:eq(0)").text());
                target.find("p").text($(this).find("#food_Description").val());
            })
        })
    </script>
}


@*<h2>Index</h2>*@
<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered table-hover table-striped" id="foodTable">
            <thead>
                <tr>
                    <th>商品名稱</th>
                    <th>商品分類</th>
                    <th>價格</th>
                    <th>餐廳名稱</th>
                    <th>商品圖片</th>
                    <th>商品描述</th>
                    <th>修改</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var food in Model)
            {
                    <tr data-foodid="@food.FoodID">
                        <td>@Html.DisplayFor(f => food.FoodName)</td>
                        <td>@Html.DisplayFor(f => food.FoodCategory.CategoryName)</td>
                        <td>@Html.DisplayFor(f => food.price)</td>
                        <td>@Html.DisplayFor(f => food.RestaurantName)</td>
                        <td><img src="@Url.Action("GetImage",new { id=food.FoodID})" class="img-thumbnail thumb " /></td>
                        <td>@Html.DisplayFor(f => food.Description)</td>
                        @Html.HiddenFor(f => food.Description)
                        @*<td>@Html.ActionLink("修改", "Update", "Food", new { id = food.FoodID }, new { @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("刪除", "Delete", "Food", new { id = food.FoodID }, new { @class = "btn btn-primary" })</td>*@
                        <td>@Html.ActionLink("修改", "Update", "Food", new { area="FoodArea" ,id=food.FoodID}, new { @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("刪除", "Delete", "Food", new { area = "FoodArea", id = food.FoodID }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="thumbnail" id="target">
            <img src="" width="200" height="200" />
            <div class="caption">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, p => Url.Action("Index", new { page = p }), PagedListRenderOptions.Classic)

